# 2026 Data

## Import Previous Data

In [1]:
import pandas as pd

university_df_2016_2025 = pd.read_csv("files/THE World University Rankings 2016-2025 [Processed].csv", thousands=",")
university_df_2016_2025

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year
0,1.0,California Institute of Technology,United States,2243.0,6.9,26%,33 : 67,95.2000,95.6,97.6,99.8,97.8,64.0,2016
1,2.0,University of Oxford,United Kingdom,19920.0,11.6,34%,46:54:00,94.2000,86.5,98.9,98.8,73.1,94.4,2016
2,3.0,Stanford University,United States,15596.0,7.8,22%,42:58:00,93.9000,92.5,96.2,99.9,63.3,76.3,2016
3,4.0,University of Cambridge,United Kingdom,18810.0,11.8,34%,46:54:00,92.8000,88.2,96.7,97.0,55.0,91.5,2016
4,5.0,Massachusetts Institute of Technology,United States,11074.0,9.0,33%,37 : 63,92.0000,89.4,88.6,99.7,95.4,84.0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14517,2088.0,Technological University of Pereira,Colombia,17326.0,17.1,0%,43 : 57,11.6820,15.5,2.8,10.2,18.5,33.3,2025
14518,2089.0,Universidad Pedagogica y Tecnologica de Colomb...,Colombia,35767.0,17.6,0%,55 : 45,11.1160,14.2,7.7,5.0,16.1,34.0,2025
14519,2090.0,Instituto Tecnológico Metropolitano,Colombia,24443.0,20.3,0%,44 : 56,11.1055,12.4,7.6,7.6,18.4,29.7,2025
14520,2091.0,Tula State University,Russian Federation,18622.0,19.3,3%,39 : 61,10.8640,15.2,9.2,5.1,17.8,19.6,2025
14521,2092.0,Universidade Estadual do Maranhão,Brazil,25078.0,21.8,0%,62 : 38,10.4715,12.5,9.2,6.1,15.9,22.0,2025

In [2]:
university_df_2016_2025.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14522 entries, 0 to 14521
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rank                     14522 non-null  float64
 1   Name                     14522 non-null  object
 2   Country                  14522 non-null  object
 3   Student Population       14522 non-null  float64
 4   Students to Staff Ratio  14522 non-null  float64
 5   International Students   14522 non-null  object
 6   Female to Male Ratio     13850 non-null  object
 7   Overall Score            14522 non-null  float64
 8   Teaching                 14522 non-null  float64
 9   Research Environment     14522 non-null  float64
 10  Research Quality         14522 non-null  float64
 11  Industry Impact          14522 non-null  float64
 12  International Outlook    14522 non-null  float64
 13  Year                     14522 non-null  int64
dtypes: float64(9), int64(1), object(4)
memory usage: 1.6+ MB

## Import Current Data

### Rankings Tab Data

In [3]:
rankings_2026_df = pd.read_csv('files/university_rankings_2026_raw_rankings.csv')
rankings_2026_df

,Rank,Name,Country,Overall Score,Teaching,Research Environment,Research Quality,Industry Score,International Outlook
0,1,University of Oxford,United Kingdom,98.2,97.2,100.0,97.7,99.9,96.4
1,2,Massachusetts Institute of Technology,United States,97.7,99.2,95.3,99.6,100.0,91.9
2,=3,Princeton University,United States,97.2,98.2,97.3,99.0,98.0,85.4
3,=3,University of Cambridge,United Kingdom,97.2,96.2,99.9,97.1,87.6,96.3
4,=5,Harvard University,United States,97.1,95.9,100.0,98.9,86.7,88.3
...,...,...,...,...,...,...,...,...,...
2187,1501+,Yerevan State University,Armenia,10.3–27.2,25.4,9.1,12.4,22.3,41.6
2188,1501+,Yuriy Fedkovych Chernivtsi National University,Ukraine,10.3–27.2,17.9,10.0,10.1,17.5,28.8
2189,1501+,Ziane Achour University of Djelfa,Algeria,10.3–27.2,17.7,8.4,10.2,16.8,31.9
2190,1501+,Zonguldak Bülent Ecevit University,Turkey,10.3–27.2,14.9,11.0,26.5,19.5,29.3
2191,Reporter,Ziauddin University,Pakistan,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
rankings_2026_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2192 entries, 0 to 2191
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   2192 non-null   object
 1   Name                   2192 non-null   object
 2   Country                2192 non-null   object
 3   Overall Score          2191 non-null   object
 4   Teaching               2191 non-null   float64
 5   Research Environment   2191 non-null   float64
 6   Research Quality       2191 non-null   float64
 7   Industry Score         2191 non-null   float64
 8   International Outlook  2191 non-null   float64
dtypes: float64(5), object(4)
memory usage: 154.3+ KB

### Statistics Tab Data

In [5]:
statistics_2026_df = pd.read_csv('files/university_rankings_2026_raw_statistics.csv')
statistics_2026_df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio
0,1,University of Oxford,United Kingdom,"22,005",10.4,43%,52 : 48
1,2,Massachusetts Institute of Technology,United States,"11,703",7.7,33%,43 : 57
2,=3,Princeton University,United States,"8,739",8.2,23%,47 : 53
3,=3,University of Cambridge,United Kingdom,"21,045",11.3,38%,50 : 50
4,=5,Harvard University,United States,"22,680",10.1,27%,53 : 47
...,...,...,...,...,...,...,...
2187,1501+,Yerevan State University,Armenia,"14,333",7.2,3%,53 : 47
2188,1501+,Yuriy Fedkovych Chernivtsi National University,Ukraine,"13,628",13.9,0%,47 : 53
2189,1501+,Ziane Achour University of Djelfa,Algeria,"24,721",16.0,0%,47 : 53
2190,1501+,Zonguldak Bülent Ecevit University,Turkey,"18,524",19.2,10%,53 : 47
2191,Reporter,Ziauddin University,Pakistan,"6,862",11.4,0%,64 : 36

In [6]:
statistics_2026_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2192 entries, 0 to 2191
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rank                     2192 non-null   object
 1   Name                     2192 non-null   object
 2   Country                  2192 non-null   object
 3   Student Population       2192 non-null   object
 4   Students to Staff Ratio  2192 non-null   float64
 5   International Students   2190 non-null   object
 6   Female to Male Ratio     2104 non-null   object
dtypes: float64(1), object(6)
memory usage: 120.0+ KB

## Merge Data From the Two Tabs

In [7]:
combined_2026_df = statistics_2026_df.merge(rankings_2026_df, on=['Rank', 'Name', 'Country'])
combined_2026_df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Score,International Outlook
0,1,University of Oxford,United Kingdom,"22,005",10.4,43%,52 : 48,98.2,97.2,100.0,97.7,99.9,96.4
1,2,Massachusetts Institute of Technology,United States,"11,703",7.7,33%,43 : 57,97.7,99.2,95.3,99.6,100.0,91.9
2,=3,Princeton University,United States,"8,739",8.2,23%,47 : 53,97.2,98.2,97.3,99.0,98.0,85.4
3,=3,University of Cambridge,United Kingdom,"21,045",11.3,38%,50 : 50,97.2,96.2,99.9,97.1,87.6,96.3
4,=5,Harvard University,United States,"22,680",10.1,27%,53 : 47,97.1,95.9,100.0,98.9,86.7,88.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,1501+,Yerevan State University,Armenia,"14,333",7.2,3%,53 : 47,10.3–27.2,25.4,9.1,12.4,22.3,41.6
2188,1501+,Yuriy Fedkovych Chernivtsi National University,Ukraine,"13,628",13.9,0%,47 : 53,10.3–27.2,17.9,10.0,10.1,17.5,28.8
2189,1501+,Ziane Achour University of Djelfa,Algeria,"24,721",16.0,0%,47 : 53,10.3–27.2,17.7,8.4,10.2,16.8,31.9
2190,1501+,Zonguldak Bülent Ecevit University,Turkey,"18,524",19.2,10%,53 : 47,10.3–27.2,14.9,11.0,26.5,19.5,29.3
2191,Reporter,Ziauddin University,Pakistan,"6,862",11.4,0%,64 : 36,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
combined_2026_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2192 entries, 0 to 2191
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rank                     2192 non-null   object
 1   Name                     2192 non-null   object
 2   Country                  2192 non-null   object
 3   Student Population       2192 non-null   object
 4   Students to Staff Ratio  2192 non-null   float64
 5   International Students   2190 non-null   object
 6   Female to Male Ratio     2104 non-null   object
 7   Overall Score            2191 non-null   object
 8   Teaching                 2191 non-null   float64
 9   Research Environment     2191 non-null   float64
 10  Research Quality         2191 non-null   float64
 11  Industry Score           2191 non-null   float64
 12  International Outlook    2191 non-null   float64
dtypes: float64(6), object(7)
memory usage: 222.8+ KB

In [9]:
# Rename 'Industry Score' column to 'Industry Impact'

combined_2026_df = combined_2026_df.rename(columns={"Industry Score": "Industry Impact"})
combined_2026_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2192 entries, 0 to 2191
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rank                     2192 non-null   object
 1   Name                     2192 non-null   object
 2   Country                  2192 non-null   object
 3   Student Population       2192 non-null   object
 4   Students to Staff Ratio  2192 non-null   float64
 5   International Students   2190 non-null   object
 6   Female to Male Ratio     2104 non-null   object
 7   Overall Score            2191 non-null   object
 8   Teaching                 2191 non-null   float64
 9   Research Environment     2191 non-null   float64
 10  Research Quality         2191 non-null   float64
 11  Industry Impact          2191 non-null   float64
 12  International Outlook    2191 non-null   float64
dtypes: float64(6), object(7)
memory usage: 222.8+ KB

In [10]:
# Drop rows with "Reporter" rank status

reporter_index = combined_2026_df.loc[combined_2026_df["Rank"] == "Reporter"].index
combined_2026_df.drop(index=reporter_index, inplace=True)
combined_2026_df.tail()

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook
2186,1501+,Yeditepe University,Turkey,"17,879",21.7,7%,56 : 44,10.3–27.2,23.9,14.1,28.9,57.2,41.9
2187,1501+,Yerevan State University,Armenia,"14,333",7.2,3%,53 : 47,10.3–27.2,25.4,9.1,12.4,22.3,41.6
2188,1501+,Yuriy Fedkovych Chernivtsi National University,Ukraine,"13,628",13.9,0%,47 : 53,10.3–27.2,17.9,10.0,10.1,17.5,28.8
2189,1501+,Ziane Achour University of Djelfa,Algeria,"24,721",16.0,0%,47 : 53,10.3–27.2,17.7,8.4,10.2,16.8,31.9
2190,1501+,Zonguldak Bülent Ecevit University,Turkey,"18,524",19.2,10%,53 : 47,10.3–27.2,14.9,11.0,26.5,19.5,29.3

## Calculate Overall Scores

In [11]:
# Use the published formula:
# Overall Score = 0.295(Teaching) + 0.29(Research Environment) + 0.3(Research Quality) + 0.075(International Outlook) +
#                 0.04(Industry Impact)

overall_score = (0.295*combined_2026_df["Teaching"] + 0.29*combined_2026_df["Research Environment"] +
                 0.3*combined_2026_df["Research Quality"] + 0.075*combined_2026_df["International Outlook"] +
                 0.04*combined_2026_df["Industry Impact"]
                )
overall_score

0       98.2100
1       97.6735
2       97.2110
3       97.2065
4       97.0510
         ...
2186    25.2400
2187    17.8640
2188    14.0705
2189    13.7820
2190    18.5130
Length: 2191, dtype: float64

In [12]:
combined_2026_df["Overall Score"] = overall_score
combined_2026_df.tail()

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook
2186,1501+,Yeditepe University,Turkey,"17,879",21.7,7%,56 : 44,25.2400,23.9,14.1,28.9,57.2,41.9
2187,1501+,Yerevan State University,Armenia,"14,333",7.2,3%,53 : 47,17.8640,25.4,9.1,12.4,22.3,41.6
2188,1501+,Yuriy Fedkovych Chernivtsi National University,Ukraine,"13,628",13.9,0%,47 : 53,14.0705,17.9,10.0,10.1,17.5,28.8
2189,1501+,Ziane Achour University of Djelfa,Algeria,"24,721",16.0,0%,47 : 53,13.7820,17.7,8.4,10.2,16.8,31.9
2190,1501+,Zonguldak Bülent Ecevit University,Turkey,"18,524",19.2,10%,53 : 47,18.5130,14.9,11.0,26.5,19.5,29.3

## Compute University Rankings and Perform Sorting

In [13]:
combined_2026_df["Rank"] = combined_2026_df["Overall Score"].rank(method='min', ascending=False)
combined_2026_df = combined_2026_df.sort_values(by=["Rank"], ignore_index=True)
combined_2026_df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook
0,1.0,University of Oxford,United Kingdom,"22,005",10.4,43%,52 : 48,98.2100,97.2,100.0,97.7,99.9,96.4
1,2.0,Massachusetts Institute of Technology,United States,"11,703",7.7,33%,43 : 57,97.6735,99.2,95.3,99.6,100.0,91.9
2,3.0,Princeton University,United States,"8,739",8.2,23%,47 : 53,97.2110,98.2,97.3,99.0,98.0,85.4
3,4.0,University of Cambridge,United Kingdom,"21,045",11.3,38%,50 : 50,97.2065,96.2,99.9,97.1,87.6,96.3
4,5.0,Stanford University,United States,"17,422",5.9,25%,48 : 52,97.1510,97.5,97.4,99.5,100.0,83.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2186,2187.0,Instituto Tecnológico Metropolitano,Colombia,"25,069",19.7,0%,43 : 57,11.8620,12.9,7.9,9.0,18.7,30.9
2187,2188.0,Universidad Pedagogica y Tecnologica de Colomb...,Colombia,"36,136",18.7,0%,55 : 45,11.4340,13.9,8.0,6.0,16.4,34.1
2188,2189.0,Omsk State Technical University,Russian Federation,"13,819",17.6,8%,34 : 66,11.1660,15.6,8.2,5.0,19.9,25.2
2189,2190.0,"Federal Institute of Education, Science and Te...",Brazil,"70,000",20.0,0%,37 : 63,10.8635,12.6,7.1,8.8,17.5,23.3
2190,2191.0,Tula State University,Russian Federation,"18,611",19.5,6%,39 : 61,10.2740,14.0,8.4,4.4,17.7,22.4

In [15]:
# Add 'Year' column

combined_2026_df["Year"] = 2026
combined_2026_df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year
0,1.0,University of Oxford,United Kingdom,"22,005",10.4,43%,52 : 48,98.2100,97.2,100.0,97.7,99.9,96.4,2026
1,2.0,Massachusetts Institute of Technology,United States,"11,703",7.7,33%,43 : 57,97.6735,99.2,95.3,99.6,100.0,91.9,2026
2,3.0,Princeton University,United States,"8,739",8.2,23%,47 : 53,97.2110,98.2,97.3,99.0,98.0,85.4,2026
3,4.0,University of Cambridge,United Kingdom,"21,045",11.3,38%,50 : 50,97.2065,96.2,99.9,97.1,87.6,96.3,2026
4,5.0,Stanford University,United States,"17,422",5.9,25%,48 : 52,97.1510,97.5,97.4,99.5,100.0,83.9,2026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2186,2187.0,Instituto Tecnológico Metropolitano,Colombia,"25,069",19.7,0%,43 : 57,11.8620,12.9,7.9,9.0,18.7,30.9,2026
2187,2188.0,Universidad Pedagogica y Tecnologica de Colomb...,Colombia,"36,136",18.7,0%,55 : 45,11.4340,13.9,8.0,6.0,16.4,34.1,2026
2188,2189.0,Omsk State Technical University,Russian Federation,"13,819",17.6,8%,34 : 66,11.1660,15.6,8.2,5.0,19.9,25.2,2026
2189,2190.0,"Federal Institute of Education, Science and Te...",Brazil,"70,000",20.0,0%,37 : 63,10.8635,12.6,7.1,8.8,17.5,23.3,2026
2190,2191.0,Tula State University,Russian Federation,"18,611",19.5,6%,39 : 61,10.2740,14.0,8.4,4.4,17.7,22.4,2026

## Combine Previous and Current Data

In [16]:
university_rankings_complete_df = pd.concat([university_df_2016_2025, combined_2026_df])
university_rankings_complete_df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year
0,1.0,California Institute of Technology,United States,2243.0,6.9,26%,33 : 67,95.2000,95.6,97.6,99.8,97.8,64.0,2016
1,2.0,University of Oxford,United Kingdom,19920.0,11.6,34%,46:54:00,94.2000,86.5,98.9,98.8,73.1,94.4,2016
2,3.0,Stanford University,United States,15596.0,7.8,22%,42:58:00,93.9000,92.5,96.2,99.9,63.3,76.3,2016
3,4.0,University of Cambridge,United Kingdom,18810.0,11.8,34%,46:54:00,92.8000,88.2,96.7,97.0,55.0,91.5,2016
4,5.0,Massachusetts Institute of Technology,United States,11074.0,9.0,33%,37 : 63,92.0000,89.4,88.6,99.7,95.4,84.0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2186,2187.0,Instituto Tecnológico Metropolitano,Colombia,"25,069",19.7,0%,43 : 57,11.8620,12.9,7.9,9.0,18.7,30.9,2026
2187,2188.0,Universidad Pedagogica y Tecnologica de Colomb...,Colombia,"36,136",18.7,0%,55 : 45,11.4340,13.9,8.0,6.0,16.4,34.1,2026
2188,2189.0,Omsk State Technical University,Russian Federation,"13,819",17.6,8%,34 : 66,11.1660,15.6,8.2,5.0,19.9,25.2,2026
2189,2190.0,"Federal Institute of Education, Science and Te...",Brazil,"70,000",20.0,0%,37 : 63,10.8635,12.6,7.1,8.8,17.5,23.3,2026
2190,2191.0,Tula State University,Russian Federation,"18,611",19.5,6%,39 : 61,10.2740,14.0,8.4,4.4,17.7,22.4,2026

In [17]:
# Export as csv
university_rankings_complete_df.to_csv("files/THE World University Rankings 2016-2026 [Processed].csv", index=False)